* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 50px; }

.sliderr#slider {
  width: 100%;
  height: 200px;
  margin: 0 auto; }

.m-slider__slide {
  background: #eeff56; }

.m-slider__slide:nth-child(2) {
  background: #c56; }

/***** M-SLIDER CSS STYLES *****/
.m-slider__wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  flex-direction: row;
  overflow: hidden; }
  .m-slider__wrapper .m-slider__inner {
    transform: translate3d(0, 0, 0);
    transition: transform ease-in-out 300ms; }
    .m-slider__wrapper .m-slider__inner .m-slider__slide {
      height: 100%;
      overflow: auto;
      float: left; }
  .m-slider__wrapper .m-slider__button {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 10px; }
    .m-slider__wrapper .m-slider__button.m-slider__button-next {
      left: unset;
      right: 0; }

.m-slider__dots {
  width: 100%;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  position: relative; }
  .m-slider__dots.m-slider__dots-floating {
    position: absolute;
    bottom: 0; }
  .m-slider__dots ul {
    width: 100%;
    height: auto;
    list-style-type: none; }
    .m-slider__dots ul li {
      display: inline-block; }
      .m-slider__dots ul li .m-slider__dots-btn {
        width: 7px;
        height: 7px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 0;
        border-radius: 50px;
        outline: none; }
      .m-slider__dots ul li.m-slider__dots-active button {
        background-color: rgba(0, 0, 0, 0.7); }
      .m-slider__dots ul li + li {
        margin-left: 10px; }
